#cover {
	width:300px;
	height:300px;
	border:1px solid #DEDEDE;
	background: url("http://img.photobucket.com/albums/v117/schmanda/swg-pw/world-machine.jpg") no-repeat; 
	background-size: 300px 300px;
	margin:0 auto;
}
.extFont {
    font-family: 'Sarina', cursive;
}
li {
	font-style:italic;
}
p, ul {
	font-size:1.0em;
}
.txtLg {
	font-size:1.6em;
}
.txtMd {
	font-size:1.3em;
}
.txtSm {
	font-size:1.0em;
}