@import 'https://fonts.googleapis.com/css?family=Yellowtail';

#nav {
	padding:10px;
}
#nav a {
	padding:0 15px;
	color:#0B5B0B;
}
#nav a:link {
	font-weight:normal;
}
#nav a:visited {
	font-weight:normal;
	color:#ADA31F;
}
#nav a:hover {
	font-weight:bold;
}
#nav a:active {
	font-weight:normal;
	text-decoration:none;
}

h1, h2 {
    font-family: 'Yellowtail', cursive;
}
#restName {
	font-size:48px;
	color:#0B5B0B;
	text-align:center;
}
p.footer {
	text-align:center;
}
#menu {
	width:80%;
	margin: 0 10% 30px 10%;
}
#beverages {
	width:20%;
	margin: 0 40% 30px 40%;	
}

#menu table, #beverages table {
	width:100%;
	background-color:#E6E68B;
}
#menu td {
	 	width:33%;
		text-align:center;
}
#menu h2 {
	font-size:26px;
	color:#1C1C01;
}

#beverages th {
    font-family: 'Yellowtail', cursive;
	font-size:26px;
	color:#1C1C01;	
}