a:link, a:visited {
	color:#643AC4;
	text-decoration:none;
}
a:hover {
	color:#FFFFFF;
	background-color:#E858D7;
	text-decoration:underline;
}
a:active {
	color:#643AC4;
	text-decoration:none;
	background-color:transparent;
}

table {
	width:85%;
	margin:0 7%;
}
table, th, td {
	border:1px solid #000;
	border-collapse:collapse;
	padding:7px;
}
tbody tr {
	background-color:#FFE7AD;
	text-align:center;
	font-style: italic;
}

#cover {
	width:300px;
	height:300px;
	border:1px solid #DEDEDE;
	background: url("http://img.photobucket.com/albums/v117/schmanda/swg-pw/world-machine.jpg") no-repeat; 
	background-size: 300px 300px;
	margin:0 auto;
}
.extFont {
    font-family: 'Sarina', cursive;
}
li {
	font-style:italic;
}
p, ul {
	font-size:1.0em;
}
.txtLg {
	font-size:1.6em;
}
.txtMd {
	font-size:1.3em;
}
.txtSm {
	font-size:1.0em;
}