@import 'https://fonts.googleapis.com/css?family=Yellowtail';

#nav {
	padding:10px;
}
#nav a {
	padding:0 15px;
}
h1, h2 {
    font-family: 'Yellowtail', cursive;
}
#restName {
	font-size:48px;
	color:#0B5B0B;
	text-align:center;
}
p.footer {
	text-align:center;
}
#menu {
	background-color:#E6E68B
}
#menu h2 {
	font-size:26px;
	color:#1C1C01;
}