body {
	background-color: #000;
	background-image: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/L7_body-bg.jpg');
	background-size: 1200px;
	background-position: center top;
	background-repeat:  repeat-y;
}

@media only screen and (max-width:992px) {
	body {
		background-size: 1020px;
	}
}
@media only screen and (max-width:768px) {
	body {
		background-size: 840px;
	}
}
@media only screen and (max-width:480px) {
	body {
		background-size: 660px;
	}
}


#logoimg {
	background-image: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/L7_logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 34.29%
}
@media only screen and (max-width:480px) {
	#logoimg {
		background-image: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/L7_logo2.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 0;
		padding-top: 50%
	}
}


#play {
	width:100%;
	margin:0 auto;
}

#results {
	width:60%;
	border:1px solid #0A3A04;
	background-color:#031E00;
	padding:50px;
	margin:30px auto 60px auto;
	box-shadow: 0px 6px 12px #000000;
	display:none;
}
@media only screen and (max-width:992px) {
	#results {
		width:70%;
		padding:40px;
	}
}
@media only screen and (max-width:768px) {
	#results {
		width:80%;
		padding:40px;
	}
}
@media only screen and (max-width:480px) {
	#results {
		width:100%;
		padding:20px;
	}
}


.trp-starting-bet {
	width:170px;
	height:50px;
	display:block;
	margin:0 auto;
	background: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/L7_starting-bet.png');
}
.trp-results {
	width:100px;
	height:42px;
	display:block;
	margin:0 auto;
	background: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/L7_results.png');
}
.text-hide {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.input-txt { 
	border: 1px solid #848484; 
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px; 
	border-radius: 30px; 
	outline:0; 
	height:30px; 
	width: 140px; 
	padding:5px 15px;
	font-size:16px;
	display:block;
	margin: 0 auto; 
  }

#playFirst {
	margin:10px auto;
	display:block;
}
#playAgain {
	margin:10px auto;
	display:none;
}

/* CSS Generated at http://www.bestcssbuttongenerator.com */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01600), color-stop(1, #820000));
	background:-moz-linear-gradient(top, #e01600 5%, #820000 100%);
	background:-webkit-linear-gradient(top, #e01600 5%, #820000 100%);
	background:-o-linear-gradient(top, #e01600 5%, #820000 100%);
	background:-ms-linear-gradient(top, #e01600 5%, #820000 100%);
	background:linear-gradient(to bottom, #e01600 5%, #820000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01600', endColorstr='#820000',GradientType=0);
	background-color:#e01600;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #820000), color-stop(1, #e01600));
	background:-moz-linear-gradient(top, #820000 5%, #e01600 100%);
	background:-webkit-linear-gradient(top, #820000 5%, #e01600 100%);
	background:-o-linear-gradient(top, #820000 5%, #e01600 100%);
	background:-ms-linear-gradient(top, #820000 5%, #e01600 100%);
	background:linear-gradient(to bottom, #820000 5%, #e01600 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#820000', endColorstr='#e01600',GradientType=0);
	background-color:#820000;
}
.button:active {
	position:relative;
	top:1px;
}



/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
	color:#FFF;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #FFF;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


.resultHighlight {
	background-color:#135B1E;
	font-weight:bold;
}
