@import 'https://fonts.googleapis.com/css?family=Yellowtail';

a {
	color: #0B5B0B;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #356B27;
	text-decoration: underline;
	outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

/* HEADER NAV */

.headernav {
	padding-bottom: 0px;
	margin:10px 0 0 0;
	border-bottom: 1px solid #0B5B0B;
}
.headernav h1#restName {
	display:none;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color:#0B5B0B;
	background-color: #F1EE6D;
}
@media screen and (max-width: 767px) {
	.nav > li > a {
		padding: 5px 10px;
	}
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	color:#4C842E;
	background-color: #F9F6BB;
}
.nav-pills > li > a {
	border-radius: 8px 8px 0 0;
}
.nav-pills > li + li {
	margin-left: 4px;
}
.nav-pills > li.active > a {
	color: #FFF;
	background-color: #0B5B0B;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #F1EE6D;
	background-color: #378937;
}
.glyphicon {
	padding:0 10px;
}


/* JUMBOTRON PROMO AND MAIN IMAGE */

.jumbotron, .logoimg {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	color: #FFF;
	background-color: #315B18;
}
.jumbotron .promoimg {
	background-image: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/logo-promo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 37.5%
}

@media screen and (max-width: 767px) {
	.jumbotron .promoimg {
		background-image: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/logo-promo-sm.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 0;
		padding-top: 75%
	}
}
.jumbotron .mainimg {
	background-image: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/logo-main.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 18.75%
}
@media screen and (max-width: 767px) {
	.jumbotron .mainimg {
		background-image: url('http://img.photobucket.com/albums/v117/schmanda/swg-pw/logo-main-sm.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 0;
		padding-top: 40%
	}
}

.jumbotron h2,
.jumbotron .h2 {
	font-size: 2.5em;
	color: #F4E91A;
	font-weight:800;
	font-style: italic;
	text-transform:uppercase;
	text-align:center;
}
@media screen and (max-width: 414px) {
	.jumbotron h2,
	.jumbotron .h2 {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 415px) and (max-width: 767px) {
	.jumbotron h2,
	.jumbotron .h2 {
		font-size: 2.0em;
	}
}
.jumbotron p {
	margin-bottom: 15px;
	font-size: 1.15em;
	line-height: 1.15em;
}
.container .jumbotron,
.container-fluid .jumbotron {
	padding-right: 0px;
	padding-left: 0px;
	border-radius:0;
}
.jumbotron .container {
	max-width: 100%;
	padding:8px 30px;
}
@media screen and (max-width: 767px) {
	.jumbotron .container {
		max-width: 100%;
		padding:5px 15px;
	}
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}
.carousel-caption {
	background-color: rgba(0, 0, 0, 0.7);
	padding-left:20px;
	padding-right:20px;
}


/* MENU */
.menudiv {
	margin-bottom:30px;
}
.menuitems {
	background-color:#E6E68B;
	text-align:center;
	padding-bottom:20px;
}
.menuitems h2 {
	font-family: 'Yellowtail', cursive;
	font-size:2.0em;
	color:#1C1C01;
	padding:10px 10px 0 10px;
}
.beverages {
	padding-bottom:20px;
}

/* CONTACT FORM */

.form-cont {
	width:65%;
	margin:0 auto;
}
@media screen and (max-width: 414px) {
	.form-cont {
		width:95%;
		margin:0 auto;
	}
}
@media screen and (min-width: 415px) and (max-width: 767px) {
	.form-cont {
		width:80%;
		margin:0 auto;
	}
}
.btn {
	padding: 6px 12px;
	border: 0 none;
	letter-spacing: 1px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline:none;
}
.btn-primary {
	color: #FFF;
	background:#0B5B0B;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #F1EE6D;
	background: #378937;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
	color: #F1EE6D;
	background-color: #378937;
}


.form-w10 {
	width:100%;
}


/* FOOTER */
.pageftr {
	padding-bottom: 0px;
	margin:30px 0 20px 0;
	border-top: 1px solid #0B5B0B;
}
.pageftr p {
	padding-top:10px;
	text-align:center;
	color:#5B7C45;
}
