a:link, a:visited {
	color:#643AC4;
	text-decoration:none;
}
a:hover {
	color:#FFFFFF;
	background-color:#E858D7;
	text-decoration:underline;
}
a:active {
	color:#643AC4;
	text-decoration:none;
	background-color:transparent;
}

#cover {
	width:300px;
	padding:10px 0;
	margin:0 auto;
}
.coverimg {
	width:300px;
	height:300px;
	border:1px solid #DEDEDE;
}

table, th, td {
	border:1px solid #000;
	border-collapse:collapse;
	padding:7px;
}
tbody tr {
	text-align:center;
	font-style: italic;
}
tbody tr:nth-child(even) {
	background-color:#FFE7AD;
}
tbody tr:nth-child(odd) {
	background-color:#FFF;
}

.extFont {
    font-family: 'Sarina', cursive;
}
li {
	font-style:italic;
}
p, ul {
	font-size:1.0em;
}
.txtLg {
	font-size:1.8em;
}
.txtMd {
	font-size:1.5em;
}
.txtSm {
	font-size:1.0em;
}